assemblyai 
google-generativeai
streamlit
moviepy


tesseract-ocr-eng
tesseract-ocr-ara
tesseract-ocr-fra
tesseract-ocr-chi_sim
tesseract-ocr-deu
tesseract-ocr-spa
tesseract-ocr-jpn
tesseract-ocr-hin
tesseract-ocr-ita
tesseract-ocr-kor
tesseract-ocr-por
tesseract-ocr-rus
tesseract-ocr-swe
tesseract-ocr-tur
tesseract-ocr-vie
tesseract-ocr-deu
tesseract-ocr-vie


